shopworld/
backend/accounts/__pycache__/
backend/accounts/migrations/
backend/cart/__pycache__/
backend/cart/migrations/
backend/conf/__pycache__/
backend/orders/__pycache__/
backend/orders/migrations/
backend/products/__pycache__/
backend/products/migrations/
backend/media/
.env
db.sqlite3
__pycache__/


frontend/node_modules/
frontend/build/

CHAPA_INTEGRATION_GUIDE.md
.devcontainer/